* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1b2031;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  position: relative;
  top: 50px;
}

input {
  position: relative;
  width: 200px;
  height: 100px;
  background-color: #3d3459;
  border-radius: 60px;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

input::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: #817d96;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input:checked::before {
  left: 100px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 60px 30px #699ba9, 0 0 100px 60px #303f52;
          box-shadow: 0 0 60px 30px #699ba9, 0 0 100px 60px #303f52;
}

.thread {
  position: relative;
  width: 5px;
  height: 100px;
  background-color: #323941;
  left: 35px;
  bottom: 60px;
  z-index: -1;
  -webkit-animation: off 0.5s ease;
          animation: off 0.5s ease;
}

.threadShadow {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #39414a;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.threadEnd {
  position: relative;
  width: 25px;
  height: 40px;
  background-color: #3a309b;
  bottom: 65px;
  left: 25px;
  border-radius: 20px 20px 10px 10px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-animation: off 0.5s ease;
          animation: off 0.5s ease;
}

.threadEndShadow {
  width: 0;
  height: 0;
  border-top: 30px solid #8378ff;
  border-left: 25px solid transparent;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.container.on .threadEndShadow, .container.on .threadShadow {
  opacity: 1;
}

.container.on .threadEnd, .container.on .thread {
  -webkit-animation: on 0.8s ease;
          animation: on 0.8s ease;
}

.container.on .threadEnd {
  background-color: #695dff;
}

@-webkit-keyframes on {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  65% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  95% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes on {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  65% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  95% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes off {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes off {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */